player-connection-mode=Listen
player-connection-guid=3541803494
player-connection-debug=0
player-connection-project-name=CaveScape
player-connection-ip=172.18.20.243
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6c482a4c86f8437b93f7bc9d85d99ad8
